.form-inputs {
    position: relative;
}

.form-inputs .form-control {
    height: 45px;
}

.form-inputs .form-control:focus {
    box-shadow: none;
    border: 1px solid #000;
}

.form-inputs i {
    position: absolute;
    right: 10px;
    top: 15px;
}

.slider-prev,
.slider-next {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.slider-prev:hover,
.slider-next:hover {
    background-color: #0062cc;
}

.slick-dots {
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    content: '•';
    font-size: 22px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: .25;
    color: black;
}

.shop-bag {
    background-color: #000;
    color: #fff;
    height: 50px;
    width: 50px;
    font-size: 25px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.title {
    cursor: pointer;
}

.categories_dropdown {
    position: relative;

}

.dropdown_menu {

    position: absolute;
    left: 0;
    width: 100%;
    z-index: 13;
    background-color: #198754;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

.dropdown_menu.active {
    overflow: visible;
    max-height: 500px;
    z-index: 131;
    transition: max-height 0.5s ease-in;
}

.dropdown_item {
   
    cursor: pointer;
}

.side_dropdown {
    position: absolute;
    
  
    width: 100%;
    max-height: 0;
    height: 150px;
    background-color: blue;
    cursor: pointer;
}

.side_dropdown.sideActive {

    right: -100%;
    width: 100%;
    max-height: 800px;
    z-index: 999;
    transition: max-height 0.5s ease-in;
    background-color: blue;

}


#site_footer a {
    color: #dcdde1;
}

#site_footer a:hover {
    color: #68bb7d;
}

#site_footer ul.footer-link-list li {
    padding-top: 10px;
}

#site_footer ul.footer-icons li {
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
}

#site_footer ul.footer-icons li:hover {
    background-color: #cfd6e1;
    transition: .5s;
}

#site_footer ul.footer-icons li:hover i {
    color: #212934;
    transition: .5s;
}

#site_footer .border-light {
    border-color: #2d343f !important;
}