.form-inputs {
    position: relative;
}

.form-inputs .form-control {
    height: 45px;
}

.form-inputs .form-control:focus {
    box-shadow: none;
    border: 1px solid #000;
}

.form-inputs i {
    position: absolute;
    right: 10px;
    top: 15px;
}

.shop-bag {
    background-color: #dd8f00;
    color: #fff;
    height: 50px;
    width: 50px;
    font-size: 25px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.qty {
    font-size: 12px;
}

#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu {
    min-width: 15rem;
    margin-top: 0;
    padding: 1rem 0;
    border: none;
    border-radius: 0;
    box-shadow: 0px 20px 30px rgba(83, 88, 93, 0.05), 0px 0px 30px rgba(83, 88, 93, 0.1);
}

#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -0.625rem;
    left: 2.188rem;
    margin-left: auto;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    border-right: 10px solid transparent;
}

#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-header {
    font-size: 1rem;
    text-transform: capitalize;
    color: #4361ee;
}

#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
    position: relative;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    color: #202020;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-submenu.dropstart .dropdown-menu {
    top: 0;
    left: auto;
    right: 100%;
    margin-top: 0;
    margin-left: 0;
}

#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-submenu.dropstart .dropdown-menu:before {
    content: none;
}

#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-submenu.dropstart.dropdown-submenu .dropdown-menu.dropdown-submenu,
#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-submenu.dropstart.dropdown-multilevel .dropdown-menu.dropdown-submenu {
    border-top-right-radius: 0;
}

#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-submenu.dropstart.dropdown-submenu .dropdown-menu.dropdown-submenu {
    border-bottom-left-radius: 0;
}

#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-submenu.dropend .dropdown-item.dropdown-toggle::before,
#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-megamenu.dropend .dropdown-item.dropdown-toggle::before {
    border: none;
}

#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-submenu.dropend .dropdown-menu,
#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-megamenu.dropend .dropdown-menu {
    top: 0;
    left: 100%;
    right: auto;
    margin-top: 0;
    margin-left: 0;
}

#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-submenu.dropend .dropdown-menu:before,
#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-megamenu.dropend .dropdown-menu:before {
    content: none;
}

#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-submenu.dropend.dropdown-submenu .dropdown-menu.dropdown-submenu,
#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-submenu.dropend.dropdown-multilevel .dropdown-menu.dropdown-submenu {
    border-top-left-radius: 0;
}

#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-submenu.dropend.dropdown-submenu .dropdown-menu.dropdown-submenu {
    border-bottom-right-radius: 0;
}

#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown.has-megamenu {
    position: static;
}

#navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown.has-megamenu .dropdown-menu.dropdown-megamenu {
    left: 0;
    right: 0;
    width: 100%;
}

@media screen and (min-width: 1299px) and (max-width: 1500px) {
    #navbar-area .container {
        max-width: 1330px;
    }
}

@media screen and (min-width: 992px) {
    #navbar-area .navbar-collapse .navbar-nav .nav-item.dropdown.has-megamenu .dropdown-menu.dropdown-megamenu {
        max-width: 960px;
    }
}

.slider-prev, .slider-next {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .slider-prev:hover, .slider-next:hover {
    background-color: #0062cc;
  }
  .slick-dots {
    text-align: center;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    content: '•';
    font-size: 22px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: .25;
    color: black;
}